<section class="top-slider" id='top-slider'>
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active carousel-itemMine1"></div>
                <div class="carousel-item carousel-itemMine2"></div>
            </div>
            <div class="carousel-onlay">
                <p class="carousel-onlay__textup">indoor furniture</p>
                <p class="carousel-onlay__textdown">save up to 50% of all furniture</p>
            </div>
            <button class="carousel-onlay-but">shop now</button>
            <!-- Indicators -->

            <!-- Left and right controls -->

            <a class="carousel-control-prev carousel-control-prevMine" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next carousel-control-nextMine" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>


    </div>
</section>