.top-slider {
  position: relative;
}

.top-slider {
  margin: 0 auto;
  background-size: 100%;
}

.carousel-itemMine1 {
  background: url(../img/top-slider_1_480.jpg);
  height: 302px;
}

.carousel-itemMine2 {
  background: url('../img/top-slider_2_480.jpg');
  height: 302px;
}

.carousel-control-prevMine, .carousel-control-nextMine {
  top: 300px;
  height: 40px;
  width: 50%;
  background-color: #2A2A2A;
  opacity: 2;

}


.carousel-control-prevMine:hover {
  background-color: #D58E32;
  opacity: 2;

}

.carousel-control-nextMine:hover {
  background-color: #D58E32;
  opacity: 2;
}

.carousel-onlay {
  position: absolute;
  width: 410px;
  height: 220px;
  background-color: #2A2A2A;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.carousel-onlay__textup {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  line-height: 20px;
  font-weight: bolder;
}

.carousel-onlay__textdown {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.carousel-onlay-but {
  position: absolute;
  top: 170px;
  left: 153px;
  padding: 15px 30px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #2A2A2A;
  border:none;
}

.carousel-onlay-but:focus {
  outline: none;
}

@media (min-width: 768px) {
  .carousel-itemMine1 {
    background: url(../img/top-slider_1_768.jpg);
    height: 500px;
    width: 100%;
  }
  .carousel-itemMine2 {
    background: url('../img/top-slider_2_768.jpg');
    height: 500px;
    width: 100%;
  }
  .carousel-onlay {
    width: 100%;
  }

  .carousel-onlay__textup {
    font-size: 47px;
    padding-top: 80px;
  }

  .carousel-onlay__textdown {
    font-size: 24px;
  }

  .carousel-onlay-but {
    position: absolute;
    top: 333px;
    left: 270px;
  }
  .carousel-control-prevMine, .carousel-control-nextMine {
    top: 460px;
  }
}

@media (min-width: 992px) {
  .carousel-itemMine1 {
    background: url(../img/top-slider_1_1200.jpg);
    height: 677px;
    width: 100%;
  }
  .carousel-itemMine2 {
    background: url('../img/top-slider_2_1200.jpg');
    height: 677px;
    width: 100%;
  }
  .carousel-onlay {
    width: 100%;
  }

  .carousel-onlay__textup {
    font-size: 47px;
    padding-top: 80px;
  }

  .carousel-onlay__textdown {
    font-size: 24px;
  }

  .carousel-onlay-but {
    position: absolute;
    top: 420px;
    left: 470px;
  }
  .carousel-control-prevMine, .carousel-control-nextMine {
    top: 640px;
  }
}

