$white: #ffffff;
$dark: #2a2a2a;

.top-menu {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  font-family: poppins, sans-serif;
  box-shadow: 0 8px 5px -3px #b0b0b0;
}

.navbar-lightMine {
  position: relative;
  padding: 8px 0;
}

.nav__form-inlineMine {
  border: 1px solid #2a2a2a;
  padding: 5px 15px;
  margin: 0 100px 0 0;
}

.nav__form-controlMine {
  border: none;
  width: auto;
}

.nav__form-controlMine:hover {
  outline: none;
}

.fa-search {
  color: #2a2a2a;
}

//TogglerAnimation
.nav-togglerMine {
  border: none;
  z-index: 3;
}

.nav-togglerMine:focus {
  outline: none;
}

.icon-bar {
  width: 29px;
  height: 3px;
  background-color: $dark;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg) translateY(10px);
  transform-origin: center;
  background-color: $white;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg) translateY(-10px);
  transform-origin: center;
  background-color: $white;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  background-color: $dark;
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  background-color: $dark;
}

//TogglerAnimation

.nav-collapseMine {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.navbar-navMine {
  background-color: #363636;
  width: 150px;
  height: 350px;
  padding-top: 80px;
  padding-right: 5px;
  color: #a7a7a7;
  text-align: right;
  // box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
}

.nav-itemMine {
  padding: 5px 0;
  border-bottom: 1px solid #363636;
 margin-right: 11px;
  margin-left: 20px;
}

.nav-itemMine:hover {
  color: $white;
  text-decoration: none;
  border-bottom: 1px solid $white;
& .nav-linkMine{
  color: $white;
}
}

.nav-linkMine {
  color: #b8b8b8;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-linkMine:hover {
  color: $white;
  text-decoration: none;
  // border-bottom: 1px solid $white;
}

@media (min-width: 992px) {
  .navbar-navMine {
    background-color: #ffffff;
    width: auto;
    height: auto;
    padding-top: 14.5px;
    color: #a7a7a7;
  }
  .nav-linkMine {
    color: #2a2a2a;
    padding: 21px 16px 24px ;
    text-transform: uppercase;
    font-weight: bolder;
    border-top: 2px solid $white;
  }
  .nav-itemMine {
    border-bottom:none;
    margin-left: 0;
    margin-right: 0;
  }

  .nav-linkMine:hover {
    border-top: 2px solid #2a2a2a;
    color: #ffffff;
    background-color: #d58e32;
    // border-bottom:none;
  }
}
